RemoteSystemsTempFiles/
Vivado/.Xil/
*.log
*.jou
Vitis/*_workspace/
Vitis/.*/
Vitis/.*
Vitis/boot/
docs/build/
bootimages/
PetaLinux/offline.txt
# UPDATER START
Vivado/auboard/
PetaLinux/auboard/
Vivado/kcu105_hpc/
PetaLinux/kcu105_hpc/
Vivado/uzev/
PetaLinux/uzev/
Vivado/vck190_fmcp1/
PetaLinux/vck190_fmcp1/
Vivado/vck190_fmcp2/
PetaLinux/vck190_fmcp2/
Vivado/vek280/
PetaLinux/vek280/
Vivado/vek280_es_revb/
PetaLinux/vek280_es_revb/
Vivado/vhk158/
PetaLinux/vhk158/
Vivado/vmk180_fmcp1/
PetaLinux/vmk180_fmcp1/
Vivado/vmk180_fmcp2/
PetaLinux/vmk180_fmcp2/
Vivado/vpk120/
PetaLinux/vpk120/
Vivado/vpk180/
PetaLinux/vpk180/
Vivado/vcu118/
PetaLinux/vcu118/
Vivado/zcu102_hpc0/
PetaLinux/zcu102_hpc0/
Vivado/zcu102_hpc1/
PetaLinux/zcu102_hpc1/
Vivado/zcu104/
PetaLinux/zcu104/
Vivado/zcu106_hpc0/
PetaLinux/zcu106_hpc0/
Vivado/zcu111/
PetaLinux/zcu111/
Vivado/zcu208/
PetaLinux/zcu208/
Vivado/zcu216/
PetaLinux/zcu216/
# UPDATER END
