RemoteSystemsTempFiles/
Vivado/.Xil/
*.log
*.jou
Vitis/*_workspace/
Vivado/kcu105*/
Vivado/vck190*/
Vivado/vek280*/
Vivado/vmk180*/
Vivado/vpk120*/
Vivado/vcu118*/
Vivado/uzev*/
Vivado/zcu102*/
Vivado/zcu104*/
Vivado/zcu106*/
Vivado/zcu111*/
Vivado/zcu208*/
Vitis/.*/
Vitis/.*
Vitis/boot/
PetaLinux/kcu105*/
PetaLinux/vck190*/
PetaLinux/vek280*/
PetaLinux/vmk180*/
PetaLinux/vpk120*/
PetaLinux/vcu118*/
PetaLinux/uzev*/
PetaLinux/zcu102*/
PetaLinux/zcu104*/
PetaLinux/zcu106*/
PetaLinux/zcu111*/
PetaLinux/zcu208*/
docs/build/
bootimages/
PetaLinux/offline.txt

