
    &axi_ethernet_0 {  
    	/delete-property/ xlnx,phy-type;
        local-mac-address = [00 0a 35 00 01 22];  
        phy-handle = <&extphy0>;
        xlnx,has-mdio = <0x1>;  
        phy-mode = "sgmii";  
        mdio {  
            #address-cells = <1>;  
            #size-cells = <0>;  
            extphy0: phy@1 {  
                device_type = "ethernet-phy";  
                reg = <1>;
                xlnx,phy-type = <0x4>;
                ti,fifo-depth = <0x1>;    
                enet-phy-lane-swap;
            };  
            extphy1: phy@3 {  
                device_type = "ethernet-phy";  
                reg = <3>;
                xlnx,phy-type = <0x4>;
                ti,fifo-depth = <0x1>;                
                enet-phy-lane-swap;
            };  
            extphy2: phy@12 {  
                device_type = "ethernet-phy";  
                reg = <12>;
                xlnx,phy-type = <0x4>;
                ti,fifo-depth = <0x1>;                
                enet-phy-lane-swap;
            };  
            extphy3: phy@15 {  
                device_type = "ethernet-phy";  
                reg = <15>;
                xlnx,phy-type = <0x4>;
                ti,fifo-depth = <0x1>;                
                enet-phy-lane-swap;
            };  
        };  
    };  
      
    &axi_ethernet_1 {  
    	/delete-property/ xlnx,phy-type;
        local-mac-address = [00 0a 35 00 01 23];  
        phy-handle = <&extphy1>;
        xlnx,has-mdio = <0x1>;  
        phy-mode = "sgmii";  
        mdio {  
            #address-cells = <1>;  
            #size-cells = <0>;  
        };  
    };  
      
    &axi_ethernet_2 {  
    	/delete-property/ xlnx,phy-type;
        local-mac-address = [00 0a 35 00 01 24];  
        phy-handle = <&extphy2>;
        xlnx,has-mdio = <0x1>;  
        phy-mode = "sgmii";  
        mdio {  
            #address-cells = <1>;  
            #size-cells = <0>;  
        };  
    };  
      
    &axi_ethernet_3 {  
    	/delete-property/ xlnx,phy-type;
        local-mac-address = [00 0a 35 00 01 25];  
        phy-handle = <&extphy3>;
        xlnx,has-mdio = <0x1>;  
        phy-mode = "sgmii";  
        mdio {  
            #address-cells = <1>;  
            #size-cells = <0>;  
        };  
    };  

